<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>NAS Price Tracker</title>
  </head>
  <body>
    <h1>NAS Price Tracker</h1>
    <p>If you're seeing this, Eleventy is working!</p>

    <table border="1">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Link</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td><a href="{{ product.link }}">View</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
